@font-face {
  font-family: 'BeVietnamPro';
  font-weight: 400;
  src: url("~assets/fonts/BeVietnamPro-Regular.ttf");
}

@font-face {
  font-family: 'BeVietnamPro';
  font-weight: 500;
  src: url("~assets/fonts/BeVietnamPro-Medium.ttf");
}

@font-face {
  font-family: 'BeVietnamPro';
  font-weight: 500;
  src: url("~assets/fonts/BeVietnamPro-SemiBold.ttf");
}

@font-face {
  font-family: 'BeVietnamPro';
  font-weight: 800;
  src: url("~assets/fonts/BeVietnamPro-ExtraBold.ttf");
}
