.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}

.page-enter,
.page-leave-to {
  opacity: 0;
}

body {
  background: #f5f5f554;
}

.button {
  background-color: #5B2AA0;
  transition: 0.3s;
}

@media (hover: hover) and (pointer: fine) {
  .button:hover {
    background-color: #360C71;
    transform: scale(110%);
  }
}

.title {
  background: linear-gradient(90.08deg, #360C71 0.11%, #8444DF 69.58%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-background {
  background: linear-gradient(270deg, #A06CEA 0%, #6431AB 58.85%, #360C71 100%);
}
